<% include header.ejs %>
    <form action="/signup" method="post">
        <input name="firstName" placeholder="primeiro nome"/>
        <input name="lastName" placeholder="último nome"/>
        <input name="email" type="email" placeholder="email"/>
        <input name="password" type="password" placeholder="senha"/>
        <button type="submit">Cadastrar</button>
    </form>
<% include footer.ejs %>
