<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Streamer</title>
    </head>
    <body>
        <h1>Soon...</h1>
        <audio id="audio" controls="controls">
            <source id="source" type="audio/mp3" />
            No support here
        </audio>

        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script src="js/index.js"></script>
    </body>
</html>
